/* Main grid container */
.grid-container {
  display: grid; /* Define the grid container */
  grid-template-columns: 1fr; /* Create a single column */
  grid-template-rows: repeat(10, auto); 
  height: 1000px;
  width: 15px; /* Full width of the parent */
  position: relative; /* Position relative for absolute children */
  }
  
  /* Main grid items */
  .grid-item {
    background-color: #f0f0f0;
    padding: 0px;
    border: 0px solid #ccc;
  
  }
  
  
 