@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #ffffff;
  --textColor: #333333;
}

.theme-dark {
  
  --navCatButtonBgActive: #382a2a;
  --navCatButtonBgInActive: #382a2a;
  --navCatButtonBgHover: #418471;

  --userNavText: #ace4d7;

  --questionAttemptBg: #093f2c;
  --questionAttemptText: #f3e3e3;

  --takeQuizButtonBg: #322d05;
  --takeQuizButtonText: #c9d8e2;

  --bgColor1: #3d0808;
  --textColor1: #ffffff;

  --bgColor2: #600909;
  --textColor2: #ffffff;

  --bgColor3: #600909;
  --textColor3: #e5bcbc;

  --bgColor4: #924444;
  --textColor4: #f0e5e5;

  --bgColorCategory: #3d0808;
  --textColorCategory: #ffffff;

  --bgColorSubCategory: #FFFFFF;
  --textColorSubCategory: #083a38;

  --bgColorSubCategoryHover: #FFFFFF;
  --textColorSubCategoryHover: #083a38;

  --bgColorQuestionAttempt: #199570;
  --textColorQuestionAttempt: #eff6f5;

  --bgColorQuestionContent: #329e9c;
  --textColorQuestionContent: #04362e;

  --bgColorQuestionResults: #e6f5f5;
  --textColorQuestionResults: #04362e;

  --textColorFaFrown: #e07070;
  --textColorFaSmile: #8ce3b7;


  --textColorHeader1: #daebe6;
}

.theme-light {
  
  --navCatButtonBgActive: #84e1ed;
  --navCatButtonBgInActive: #5dc2a6;
  --navCatButtonBgHover: #c0f3e4;

  --userNavText: #06503f;

  --questionAttemptBg: #d0e2db;
  --questionAttemptText: #5c3131;

  --takeQuizButtonBg: #d9d079;
  --takeQuizButtonText: #031c2b;

  --bgColor1: #ddf1ed;
  --textColor1: #372005;

  --bgColor2: #d4bdbd;
  --textColor2: #0c0c4a;

  --bgColor3: #d1b7b7;
  --textColor3: #350606;

  --bgColor4: #bfe9bc;
  --textColor4: #923d3d;

  --bgColorCategory: #82c2a2;
  --textColorCategory: #083a38;

  --bgColorSubCategory: #FFFFFF;
  --textColorSubCategory: #083a38;

  --bgColorSubCategoryHover: #FFFFFF;
  --textColorSubCategoryHover: #73adac;

  --bgColorSubmitBtn: #199570;
  --textColorSubmitBtn: #eff6f5;

  --bgColorQuestionAttempt: #8dc5f6;
  --textColorQuestionAttempt: #04362e;

  --bgColorQuestionContent: #cef2f2;
  --textColorQuestionContent: #04362e;

  --bgColorQuestionResults: #d2f4f3;
  --textColorQuestionResults: #04362e;

  --textColorFaFrown: #cd2727;
  --textColorFaSmile: #0c884a;

  --textColorHeader1: #095d43;
}

.letter-input {
  /* each letter will take 1ch + 1px and we remove 1px of the last one*/
  width: calc(2 * (1ch - 5px) - 3px);
  height: calc(3 * (1ch - 3px) - 3px);
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 1px;
  border-width: 1px;
  border-color: rgb(54, 111, 109);
  background: 
  repeating-linear-gradient(to right, #e0cdcd, #e3cbcb 1ch, #fff 1ch, #d6bcbc calc(1ch));
  font-size: 28px;
  /*since a letter will take 1ch we add 1px to cover the border*/
  
  /*we use a monospace font-family so all the letter will take the same width = 1ch*/
  font-family: monospace;
  caret-color: color(srgb red green blue);
 
}
